_target_: autocast.processors.flow_matching.FlowMatchingProcessor
stride: ${training.stride}
teacher_forcing_ratio: 0.0
max_rollout_steps: ${training.n_steps_output}
learning_rate: 0.0001
flow_ode_steps: 10
n_steps_output: null
n_channels_out: null
backbone:
  # See: https://github.com/PolymathicAI/lola/blob/bd4bdf2a9fc024e6b2aa95eb4e24a800fec98dae/experiments/configs/denoiser/unet_deep.yaml
  _target_: autocast.nn.unet.TemporalUNetBackbone
  in_channels: null
  out_channels: null
  cond_channels: null
  mod_features: 256
  hid_channels: [64, 128, 256, 512, 768, 1024]
  hid_blocks: [3, 3, 3, 3, 3, 3]
  stride: 2 # TODO: stride as non-integer raises exception
  spatial: 2
  periodic: true
  dropout: 0.05
  ffn_factor: 1
  checkpointing: true
  identity_init: true
  attention_heads: {5: 8}